@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import "reset.css";

body {
    background-color: rgb(200, 230, 255);
    display: flex;
    justify-content: center;
    font-family: 'Black Han Sans', sans-serif;
}
.header {
    font-size: 60px;
    color: white;
    text-align: center;
    line-height: 60px;
}
.nav__list{
    display: flex;
    justify-content: space-around;
}
.nav {
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 40px 30px;
    background-color: rgb(163, 206, 255);
    display: block;
    font-family: 'Nanum Gothic', sans-serif;
    border-bottom: 1px dotted black;

}
.nav__btn {
    font-size: 25px;
}
.nav__nomal-btn{
    text-decoration: none;
    color: black;
}
.nav__join-login-btn {
    background-color: white;   
    color: black;   
    padding: 5px 10px;
    font-size: 20;
    text-decoration: none;
    border-radius: 10px;   
}